@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

main {
    @apply flex;
    @apply flex-col;
    @apply flex-auto;
}

footer {
    @apply p-4;
    @apply mt-4;
}

.container {
    @apply flex;
    @apply flex-col;
    @apply min-h-screen;
    @apply max-w-full;
}

.navigation {
    @apply h-20;
    @apply p-4;
    @apply flex;
    @apply shadow;
    @apply bg-white;
    @apply items-center;
    @apply fixed;
    @apply top-0;
    @apply w-full;
    z-index: 1;
}

.navigation-list {
    @apply flex; 
    @apply items-center;
    @apply ml-4;
}

.navigation-list__link {
    @apply block;
    @apply font-bold;
    @apply p-4;
    border-top: 0;
    @apply cursor-pointer;
}

@media screen and (min-width: 768px) {
    .navigation-list__link {
        @apply inline;
        @apply mx-4;
    }
}

.navigation-list__link:hover {
    @apply bg-gray-300;
}

.active {
    border-bottom: 2px solid #4299e1;
}

.form {
    @apply w-3/4;
    @apply mx-auto;
    @apply py-2;
    @apply mt-32;
}

.about {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.about h1 {
    font-size: 1.875rem;
    text-align: center;
    font-weight: 700;
}

.about h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.about ul {
    list-style: circle;
    margin-left: 1.25rem;
}

.about a {
    text-decoration: underline;
    text-decoration-color: blue;
}

#unit-list {
    @apply flex;
    @apply flex-col;
    @apply items-center;
}

.unit-card {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply m-4;
    @apply max-w-xs;
    @apply h-40;
    @apply bg-white;
    @apply shadow;
    @apply rounded;
    @apply w-2/3;
}

.unit-card-container {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply m-auto;
}

.unit-image.loading {
    @apply rounded;
    height: 50px; 
    width: 50px;
}

.unit-card-name.loading {
    height: 1rem; 
    width: 200px; 
    margin: 1rem;
    border-radius: 3px; 
}

.loading {
    @apply relative;
    background-color: #e2e2e2;
}

.loading::after {
    @apply block;
    @apply absolute;
    @apply w-full;
    @apply h-full;
    content: "";
    @apply -translate-x-full;
    background: -webkit-gradient(linear, left top, 
                    right top, from(transparent),  
                    color-stop(rgba(255, 255, 255, 0.2)), 
                    to(transparent));              
    background: linear-gradient(90deg, transparent, 
            rgba(255, 255, 255, 0.2), transparent); 
    /* Adding animation */
    animation: loading 0.8s infinite; 
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

.unit-card-name {
    @apply text-sm;
    @apply text-center;
    @apply mt-2;
}

.unit-card-name a:hover {
    @apply underline;
    @apply text-blue-700;
}

@media screen and (min-width: 768px) {
    #unit-list {
        @apply flex-row;
        @apply flex-wrap;
        @apply justify-center;
    }

    .unit-card {
        @apply w-1/3;
    }
}

@media screen and (min-width: 1024px) {
    .unit-card {
        @apply p-4;
        @apply w-1/5;
    }
}

.unit-profile {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply m-auto;
    @apply w-full;
    @apply p-4;
    @apply bg-white;
    @apply mt-32;
    @apply mb-8;
}

@media screen and (min-width: 768px) {
    .unit-profile {
        @apply w-1/2;
    }
}