@tailwind base;

@tailwind components;

@tailwind utilities;

:root {  
    --card-height: 10rem;
    --blur-width: 200px;
    --blur-size: var(--blur-width) calc(var(--card-height));
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    @apply text-base;
    @apply tracking-wider;
}

main {
    @apply flex;
    @apply flex-col;
    @apply flex-auto;
}

footer {
    @apply p-4;
    @apply mt-4;
}

.container {
    @apply flex;
    @apply flex-col;
    @apply min-h-screen;
    @apply max-w-full;
}

.navigation {
    @apply h-20;
    @apply p-4;
    @apply flex;
    @apply shadow;
    @apply bg-white;
    @apply items-center;
    @apply fixed;
    @apply top-0;
    @apply w-full;
    z-index: 1;
}

.navigation-list {
    @apply flex; 
    @apply items-center;
    @apply ml-4;
}

.navigation-list__link {
    @apply block;
    @apply font-bold;
    @apply p-4;
    border-top: 0;
    @apply cursor-pointer;
}

@media screen and (min-width: 768px) {
    .navigation-list__link {
        @apply inline;
        @apply mx-4;
    }
}

.navigation-list__link:hover {
    @apply bg-gray-300;
}

.active {
    border-bottom: 2px solid #4299e1;
}

.form {
    @apply w-3/4;
    @apply mx-auto;
    @apply py-2;
    @apply mt-32;
}

.about {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.about h1 {
    font-size: 1.875rem;
    text-align: center;
    font-weight: 700;
}

.about h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.about ul {
    list-style: circle;
    margin-left: 1.25rem;
}

.about a {
    text-decoration: underline;
    text-decoration-color: blue;
}

#unit-list {
    @apply flex;
    @apply flex-col;
    @apply items-center;
}

.unit-card {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply m-4;
    @apply p-4;
    @apply h-40;
    @apply bg-white;
    @apply shadow;
    @apply rounded;
    @apply w-2/3;
}

.unit-card:empty {
    background-image:
    linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%), 
    linear-gradient(lightgray 40px, transparent 0),
    linear-gradient(lightgray 15px, transparent 0);

    background-size: 
    var(--blur-size),
    40px 40px,
    150px 40px;

    background-position:
    -150% 0, 
    50% 40%,
    50% 85%;

    background-repeat: no-repeat;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    to {
        background-position: 
        350% 0,
        50% 40%,
        50% 85%;
    }
}

.unit-card-container {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply m-auto;
}

.unit-card-name {
    @apply text-center;
    @apply mt-4;
}

.unit-card-name a:hover {
    @apply underline;
    @apply text-blue-700;
}

@media screen and (min-width: 768px) {
    #unit-list {
        @apply flex-row;
        @apply flex-wrap;
        @apply justify-center;
    }

    .unit-card {
        @apply w-1/3;
    }
}

@media screen and (min-width: 1024px) {
    .unit-card {
        @apply p-4;
        @apply w-1/5;
    }
}

.unit-profile {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply m-auto;
    @apply w-full;
    @apply p-4;
    @apply mt-32;
    @apply mb-8;
}

@media screen and (min-width: 768px) {
    .unit-profile {
        @apply w-3/4;
    }
}